---
#
---
@import "minima";

body{
  background-color: #C39BD3;
}
a{
  color: #0C356A;
}

.site-header {
  background: #F0EBF4;
}

.site-footer{
  background: #A9CCE3;
}
.footer-col{
  color: $grey-color-light;
}

.item-soc{
  padding: 8px;
}
.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #ffffff;
    padding-right: 2px;
}

.post-meta {
  font-size: $small-font-size;
  color: #79155B;
}

.post-link {
  display: block;
  @include relative-font-size(1.0);
}
.page-heading {
  @include relative-font-size(1.0);
}

.post-list-heading {
  @include relative-font-size(1.0);
}

.post-content {
  margin-bottom: 1px;

  h2 {
    @include relative-font-size(1);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.0);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.0);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: 1px;
}
