---
#
---
@import "minima";

body{
  background-color: #917FB3;
}
.footer-col{
  color: $grey-color-light;
}

.item-soc{
  padding: 4px;
}
.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color-light};
    padding-right: 2px;
}
