---
#
---
@import "minima";

$brand-color:      #000000 !default;

body{
  background-color: #917FB3;
}
a{
  color: #0C356A;
}

.footer-col{
  color: $grey-color-light;
}

.item-soc{
  padding: 8px;
}
.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #ffffff;
    padding-right: 2px;
}

.post-meta {
  font-size: $small-font-size;
  color: #79155B;
}
